<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>2FA </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h2>Verificação em Duas Etapas</h2>

    {% if erro %}
        <div class="mensagem erro">{{ erro }}</div>
    {% endif %}
    
    <form method="POST">
        <label>Código do app ou backup:</label>
        <input type="text" name="codigo" autocomplete="off" required placeholder="000000">

        <button type="submit">Validar</button>
    </form>

</body>
</html>