<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Recuperação de Senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h2>Recuperação de Senha</h2>

    {% if erro %}
        <div class="mensagem erro">{{ erro }}</div>
    {% endif %}

    {% if sucesso %}
        <div class="mensagem sucesso">{{ sucesso }}</div>
    {% endif %}

    <form method="POST">
        <small style="text-align: center; margin-bottom: 20px;">
            Informe o seu e-mail cadastrado para receber o link de redefinição.
        </small>

        <label>Email:</label>
        <input type="email" name="email" required placeholder="exemplo@email.com">

        <button type="submit">Enviar Link</button>
    </form>

    <a href="/">Voltar ao login</a>

</body>
</html>